<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ecostage.mobilecollect">
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".map.MapActivity"
            android:label="@string/action_label_map"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/action_label_profile"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ranking.RankingActivity"
            android:label="@string/action_label_ranking"
            android:theme="@style/AppTheme" />

        <activity android:name=".collect.CollectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmU6CD4gea_JrZ3fFGcyMHEuoLYQsNvVk"/>
    </application>

</manifest>